<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51B442CC1E03B6E8005E9D3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B442E01E03B6E8005E9D3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B442EB1E03B6E9005E9D3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
